/*


## Colors

- Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%)
/*


- Font size: 13px
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid red ; */
}

html {
    font-size: 62.5%;

}

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 3.2rem;
    height: 3.2rem;
}