.artical-summary {
    width: 144rem;
    height: 80rem;
    background-color: #ECF2F8;
}

.artical {
    width: 73rem;
    height: 28rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    /* overflow: hidden; */
    display: flex;
    position: relative;

}

.artical-left {
    width: 28.5rem;
    height: 28rem;
    overflow: hidden;
}

.artical-left img {
    width: 28.5rem;
    height: 28rem;
}

.artical-right {
    width: 36.5rem;
    height: 21.6rem;
    margin: 3rem;
}

h4 {
    font-size: 2rem;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #48556A;
}

h2 {
    font-size: 1.2rem;
    line-height: 20px;
    letter-spacing: 0.12px;
    color: #6E8098;
    margin-top: 1.5rem;
}

.right-bottom {
    display: flex;
    justify-content: space-between;
    width: 36.5rem;
    height: 4rem;
    margin-top: 2.5rem;
    align-items: center;

}

.bottom-left {
    width: 17.2rem;
    height: 4rem;
    line-height: 2;
    gap: 2rem;
}

.bottom-left-img {
    width: 4rem;
    margin-top: 2rem;
}

.left-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.name {
    color: #48556A;
}

.date {
    color: #9DAEC2;
}

.share-box {
    position: absolute;
    right: -6rem;
    bottom: 6rem;
    background-color: #979797;
    width: 24.8rem;
    height: 5rem;
    border-radius: 1.5rem;
    padding-right: 2rem;
}

.box-inside {
    width: 17.5rem;
    height: 2rem;
    display: flex;
    gap: 2rem;
}

.shr {
    color: #9DAEC2;
    letter-spacing: 5px;
    font-size: 1.8rem;
}

.icons {
    width: 2rem;
    height: 2rem;
}